body {
	font-family: Roboto;
	background-color: #1b3769;
}
#scrolling div {
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	border-radius: 5px;
	background-color: white;
	transition: background-color .2s linear, box-shadow .2s linear;
	box-shadow: 0px 0px 4px 4px rgba(1,1,1,.25);
}

#scrolling div p {
	font-size: 22px;
}

#scrolling img, #info p img {
	display: none;
}

#scrolling div ul {
	display: none;
}

#info #popup {
	position: relative;
	height: 34px;
	background-color: #1a90bc;
	top: 10px;
	left: 10px;
	border-radius: 5px;

}

#info #popup p {
	color: white;
	float: left;
	margin-top: 5px;
	font-weight: 500;
	margin-left: 20px;
}

#info #popup span {
	float: right;
	color: white;
	font-size: 23px;
	position: block;
	margin-right: 10px;
	margin-top: 2px;
	transition: color .2s linear;

}
#info #popup span:hover {
	color: #eee;
	cursor: pointer;
}

#info {
	position: fixed;
	top: 20px;
	right: 20px;
	bottom: 20px;
	left: 50%;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0px 0px 4px 4px rgba(1,1,1,.25);

}

#scrolling div:hover {
	background-color: #f1f1f1;
	cursor: pointer;
	box-shadow: 0px 0px 8px 8px rgba(1,1,1,.25);
}

p, ul {
	font-size: 18px;
	color: #555/*#87898e*/;
	font-weight: 500;
	margin: 0px;
}

ul img {
	display: none;
}

h4 {
	color: #1b3769;
	font-size: 20px;
	margin: 10px;
}

h1 {
	padding-top: 20px;
	color: 	#1b3769;
}

#info h1 {
	margin: 5px;
}

#scrolling {
	margin-top: 0px;
	width: 50%;
}

#in2-logo {
	display: block;
	float: left;
	margin-left: 30px;
	margin-top: 50px;
}

#scrolling {
	margin-bottom: 20px;
}

#info #content {
	margin-left: 20px;
	margin-right: 20px;
}

#info img {
	position: fixed;
	right: 30px;
	bottom: 30px;
	width: 200px;
}

#info p strong {
	display: none;
}

strong {
	font-weight: 400;
}

#info p ins {
	text-decoration: none !important;
}

#more, #apply {
	display: inline-block;
	background-color: #1a90bc;
	color: white;
	padding: 3px 8px;
	border-radius: 6px;
	box-shadow: 0px 0px 8px 2px rgba(1,1,1,.15);
	text-decoration: none !important;
	transition: box-shadow .2s linear;
}

#apply i {
	position: relative;
	right: 10px;
	transition: right .2s linear;
}

#apply:hover i {
	right: 0px;
}

#apply {
	position: fixed;
	right: 50px;
	bottom: 210px;
}

#btns {
	display: none;
	font-weight: 500;
	font-size: 18px;
}
/*
#btns {
	display: none;
	position: absolute;
	bottom: 10px;
	left: 10px;
	text-decoration: none !important;
}
*/
#more {
	margin-right: 5px;
}

#more:hover, #apply:hover {
	cursor: pointer;

}

#info p {
	margin-left: 25px;
}

#info p {
	text-indent: 10px;
	margin-right: 30px;
	font-size: 20px;
}

@media (max-width: 1500px) {
	#info p {
		font-size: 17px;
	}
}

#info {
	overflow-x: hidden;
	overflow-y: scroll;
}

#info::-webkit-scrollbar {
	display: none;
}

#info p ins {
	padding-top: 20px;
}

#scrolling p ins {
	display: none;
}

#blueBox {
	background-color: #1a90bc;
	color: white;
	font-size: 12px;
	padding: 1px 3px;
	border-radius: 4px;
	display: inline-block;
}

#blueBox i {
	display: inline;
}

#blueBox.email-box {
	font-size: 14px;
}

button {
	margin-left: 20px;
	margin-top: 10px;
	height: 40px;
	width: 14%;
	background-color: #1a90bc;
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	font-weight: 600;
	cursor: pointer;
	box-shadow: 0px 0px 10px 2px rgba(1,1,1,.25);
	transition: box-shadow .2s linear, background-color .2s linear;
}

button:hover {
	box-shadow: 0px 0px 20px 2px rgba(1,1,1,.45);
	background-color: #15799d;
}

button:focus {
	outline: none;
}

.dormant {
	display: none;
}

.tt {
	position: relative;
	display: inline-block;
}

.tt .tt-text {
	font-weight: 400;
    width: 150px !important;
    background-color: #222 !important;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    font-size: 16px !important;
    padding: 4px 3px !important;
    line-height: 16px;
    position: absolute;
    z-index: 1;
    top: 110%;
    left: 50%;
    margin-left: -75px;
    visibility:hidden;
  	opacity:0;
  	transition:visibility 0s linear 0.25s,opacity 0.25s linear;
	box-shadow: 0px 2px 5px 3px rgba(0,0,0,0.4);
}

.tt .tt-text::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -7px;
    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent #222 transparent;
}

.tt:hover .tt-text {
	visibility:visible;
  	opacity:1;
  	transition-delay:0s;
}

.tt:hover {
	cursor: pointer;
}

.tt-text strong {
	font-weight: 600 !important;
}

#proj-member-container {
	list-style-type: circle;
}

#blueBox {
	text-indent: 0px;
}

@media (max-width: 1200px) {
	#apply {
		position: static;
		margin-left: 20px;
		margin-top: 10px;
		margin-bottom: 20px;
	}

	#in2-logo {
		display: none;
	}

	#blueBox i {
		display: none;
	}

	#apply span {
		display: none;
	}
}

#popup {
	width: 95%;
}

#proj-title-container strong {
	font-size: 20px;
	margin-left: 10px;
	font-weight: 500;
}

.program, .event {
	display: none;
}
